asgiref==3.6.0
Django==4.1.7
django-cors-headers==3.14.0
django-rest-framework==0.1.0
django-restframework==0.0.1
djangorestframework==3.14.0
docx==0.2.4
exception==0.1.0
lxml==4.9.2
Pillow==9.4.0
python-docx==0.8.11
python-magic==0.4.27
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
gunicorn